[submodule "PowerShell/Empire"]
	path = PowerShell/Empire
	url = https://github.com/EmpireProject/Empire
	branch = master
[submodule "PowerShell/BloodHound"]
	path = PowerShell/BloodHound
	url = https://github.com/BloodHoundAD/BloodHound
	branch = master
[submodule "PowerShell/PowerSploit"]
	path = PowerShell/PowerSploit
	url = https://github.com/PowerShellMafia/PowerSploit
	branch = master
[submodule "PowerShell/mimikittenz"]
	path = PowerShell/mimikittenz
	url = https://github.com/putterpanda/mimikittenz
	branch = master
[submodule "PowerShell/p0wnedShell"]
	path = PowerShell/p0wnedShell
	url = https://github.com/Cn33liz/p0wnedShell
	branch = master
[submodule "PowerShell/PSRecon"]
	path = PowerShell/PSRecon
	url = https://github.com/gfoss/PSRecon/
	branch = master
[submodule "PowerShell/PowerShell-Suite"]
	path = PowerShell/PowerShell-Suite
	url = https://github.com/FuzzySecurity/PowerShell-Suite/
	branch = master
[submodule "Web/nikto"]
	path = Web/nikto
	url = https://github.com/sullo/nikto
	branch = master
[submodule "Web/wfuzz"]
	path = Web/wfuzz
	url = https://github.com/xmendez/wfuzz
	branch = master
[submodule "Web/sqlmap"]
	path = Web/sqlmap
	url = https://github.com/sqlmapproject/sqlmap
	branch = master
[submodule "Web/sqlmate"]
	path = Web/sqlmate
	url = https://github.com/UltimateHackers/sqlmate
	branch = master
[submodule "Web/beef"]
	path = Web/beef
	url = https://github.com/beefproject/beef
	branch = master
[submodule "Web/wpscan"]
	path = Web/wpscan
	url = https://github.com/wpscanteam/wpscan
	branch = master
[submodule "Web/arachni"]
	path = Web/arachni
	url = https://github.com/Arachni/arachni
	branch = master
[submodule "Exploitation/routersploit"]
	path = Exploitation/routersploit
	url = https://github.com/reverse-shell/routersploit
	branch = master
[submodule "Exploitation/metasploit-framework"]
	path = Exploitation/metasploit-framework
	url = https://github.com/rapid7/metasploit-framework
	branch = master
