[submodule "PowerShell/Empire"]
	path = PowerShell/Empire
	url = https://github.com/EmpireProject/Empire
	branch = master
[submodule "PowerShell/BloodHound"]
	path = PowerShell/BloodHound
	url = https://github.com/BloodHoundAD/BloodHound
	branch = master
[submodule "PowerShell/PowerSploit"]
	path = PowerShell/PowerSploit
	url = https://github.com/PowerShellMafia/PowerSploit
	branch = master
[submodule "PowerShell/mimikittenz"]
	path = PowerShell/mimikittenz
	url = https://github.com/putterpanda/mimikittenz
	branch = master
[submodule "PowerShell/p0wnedShell"]
	path = PowerShell/p0wnedShell
	url = https://github.com/Cn33liz/p0wnedShell
	branch = master
[submodule "PowerShell/PSRecon"]
	path = PowerShell/PSRecon
	url = https://github.com/gfoss/PSRecon/
	branch = master
[submodule "PowerShell/PowerShell-Suite"]
	path = PowerShell/PowerShell-Suite
	url = https://github.com/FuzzySecurity/PowerShell-Suite/
	branch = master
[submodule "Web/nikto"]
	path = Web/nikto
	url = https://github.com/sullo/nikto
	branch = master
[submodule "Web/wfuzz"]
	path = Web/wfuzz
	url = https://github.com/xmendez/wfuzz
	branch = master
[submodule "Web/sqlmap"]
	path = Web/sqlmap
	url = https://github.com/sqlmapproject/sqlmap
	branch = master
[submodule "Web/sqlmate"]
	path = Web/sqlmate
	url = https://github.com/UltimateHackers/sqlmate
	branch = master
[submodule "Web/beef"]
	path = Web/beef
	url = https://github.com/beefproject/beef
	branch = master
[submodule "Web/wpscan"]
	path = Web/wpscan
	url = https://github.com/wpscanteam/wpscan
	branch = master
[submodule "Web/arachni"]
	path = Web/arachni
	url = https://github.com/Arachni/arachni
	branch = master
[submodule "Exploitation/routersploit"]
	path = Exploitation/routersploit
	url = https://github.com/reverse-shell/routersploit
	branch = master
[submodule "Exploitation/metasploit-framework"]
	path = Exploitation/metasploit-framework
	url = https://github.com/rapid7/metasploit-framework
	branch = master
[submodule "Exploitation/Nosql-Exploitation-Framework"]
	path = Exploitation/Nosql-Exploitation-Framework
	url = https://github.com/torque59/Nosql-Exploitation-Framework
	branch = master
[submodule "Cracking/JohnTheRipper"]
	path = Cracking/JohnTheRipper
	url = https://github.com/magnumripper/JohnTheRipper
	branch = bleeding-jumbo
[submodule "Cracking/hashcat"]
	path = Cracking/hashcat
	url = https://github.com/hashcat/hashcat.git
	branch = master
[submodule "Cracking/hashcat-utils"]
	path = Cracking/hashcat-utils
	url = https://github.com/hashcat/hashcat-utils
	branch = master
[submodule "Cracking/maskprocessor"]
	path = Cracking/maskprocessor
	url = https://github.com/hashcat/maskprocessor
	branch = master
[submodule "Cracking/statsprocessor"]
	path = Cracking/statsprocessor
	url = https://github.com/hashcat/statsprocessor
	branch = master
[submodule "Cracking/kwprocessor"]
	path = Cracking/kwprocessor
	url = https://github.com/hashcat/kwprocessor
	branch = master
[submodule "Cracking/princeprocessor"]
	path = Cracking/princeprocessor
	url = https://github.com/hashcat/princeprocessor
	branch = master
[submodule "Windows/Windows-Exploit-Suggester"]
	path = Windows/Windows-Exploit-Suggester
	url = https://github.com/GDSSecurity/Windows-Exploit-Suggester
	branch = master
[submodule "Windows/Winpayloads"]
	path = Windows/Winpayloads
	url = https://github.com/nccgroup/Winpayloads
	branch = master
